<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <appSettings>
    <add key="salt" value="gYui1skRT7pqisdBjgrkl2jibHmkn3dvj9kp" />
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <connectionStrings>
    <add name="mysli1conn" connectionString="server=localhost;user=Miro;database=www_kanta;port=3306;password=g32Gl05kB2.s4,45d145M!7i6j.isx_l2;" />
    <add name="mysli2conn" connectionString="server=mysql.labranet.jamk.fi;user=G2681;port=3306;database=G2681;password=Di9PDAoJvE5BjKsDEftJdRx6uWDcFU2N;" />
  </connectionStrings>

</configuration>